<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Merda de Macaco</title>
  <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet"></head>
<body>
<a class="firstBtn" href="/login">
  <button type="button" name="button">Barista Login</button>
</a>
  <div class="container">
    <h1>Merda de Macaco</h1>
    <form class="cashierForm" action="/submitOrder" method="post">
      <input class="userName" type="text" name="orderName" value="" placeholder="Enter Your Name">
      <input type="text" name="orderItem" value="" placeholder="Order">
      <button class="submit" type="submit" name="button">Submit Order</button>
    </form>
  </div>
  <script src="main.js" type="text/javascript">
  </script>
</body>
</html>
<!-- // drop down for colors
// input for user number input
// button for dropdown
// button to start game
// bank
// display if user won or lost -->
