<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Merda de Macaco</title>
  <link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet"></head>
<body>
  <button action="/login" type="button" name="button" class="baristalogin">Barista Login</button>

  <div class="container">

    <h1>Merda de Macaco</h1>
    <form class="" action="/" method="post">
      <h2>Size</h2>
      <fieldset>
        <input id="small" type="checkbox" name="size" value="small">
        <label for="small">Small</label>

        <input id="medium" type="checkbox" name="size" value="medium">
        <label for="medium">Medium</label>

        <input id="large" type="checkbox" name="size" value="large">
        <label for="large">Large</label>

      </fieldset>
      <h2>Flavor</h2>
      <fieldset>

        <input id="thai" type="checkbox" name="flavor" value="thai">
        <label for="thai">Thai Tea</label>

        <input id="matcha" type="checkbox" name="flavor" value="matcha">
        <label for="matcha">Matcha Milk Tea</label>

        <input id="taro" type="checkbox" name="flavor" value="taro">
        <label for="taro">Taro</label>
      </fieldset>
      <input type="text" name="" value="" placeholder="Enter Your Name">
      <button type="button" name="button">Submit Order</button>
    </form>
  </div>

  <script src="main.js" type="text/javascript">

  </script>
</body>
</html>


<!-- // drop down for colors
// input for user number input
// button for dropdown
// button to start game
// bank
// display if user won or lost -->
