body {
  background-image: url(img.jpg);
  background-size: cover;
  font-family: 'Maven Pro', sans-serif;
}
.baristalogin {
  margin-left: 84%;
  margin-top: 2%;
}
.container {
  width: 80%;
  margin: auto;
  background-color: rgba(229, 229, 229, 0.5);
  height: 500px;
}
fieldset {
  width: 40%;
}
input {
  margin-top: 2%;
  height: 25px;
}
button {
  height: 30px;
}
